/* styles/AboutProfessor.module.css */

.AboutProfessor {
    line-height: 1.6;
    margin-bottom: 2rem;
}

/* 見出しのスタイル */
.AboutProfessor h1 {
    font-size: 26px;
    margin-top: 2rem;
    margin-bottom: 0.5rem; /* 次の行との間に少し余白 */
    font-weight: bold;
}

.AboutProfessor h2 {
    font-size: 16px; /* h2の大きさを基準に設定 */
    margin-top: 1.8rem; /* 少し余白を減らす */
    margin-bottom: 0.3rem; /* 次の行との間に少し余白 */
    font-weight: bold;
    background-color: #f0f0f0; /* 薄い灰色の背景 */
    width: 100%; /* 横幅マックス */
    padding: 0.2rem 0.5rem; /* 上下の余白を少なくする */
}

.AboutProfessor h3 {
    font-size: 14px;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem; /* 次の行との間に少し余白 */
    font-weight: bold;
}

.AboutProfessor h4 {
    font-size: 12px;
    margin-top: 1.2rem;
    margin-bottom: 0.3rem; /* 次の行との間に少し余白 */
    font-weight: bold;
}

/* 段落のスタイル */
.AboutProfessor p {
    margin-bottom: 1.2rem;
    font-size: 12px; /* 段落のフォントサイズを調整 */
}

/* 番号付きリストのスタイル */
.AboutProfessor ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-left: 1.5rem;
    margin-bottom: 1.2rem;
    line-height: 1.8; /* 行間を調整 */
}

/* 順不同リストのスタイル */
.AboutProfessor ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 0.5rem;
    margin-bottom: 1.2rem;
    line-height: 1.8; /* 行間を調整 */
}

/* リンクのスタイル */
.AboutProfessor a {
    color: #0066cc; /* リンクの色 */
    text-decoration: underline;
}

/* 強調表示のスタイル */
.AboutProfessor strong {
    font-weight: bold; /* 太文字の設定 */
}

/* 斜体のスタイル */
.AboutProfessor em {
    font-style: italic; /* 斜体の設定 */
}

/* キャプションのスタイル */
.AboutProfessor figcaption {
    font-size: 10px; /* フォントサイズを4px減少 */
    font-style: italic;
    text-align: center; /* 右揃え */
    margin-top: 0.5rem; /* figcaptionの前に少し余白 */
    margin-bottom: 1rem; /* 次の行との間に少し余白 */
}

/* 区切り線のスタイル */
.AboutProfessor hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid #ccc;
}

.AboutProfessor blockquote {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #f9f9f9;
    border-left: 4px solid #ccc;
}



/* 他の列やテーブル全体のスタイル */
.AboutProfessor table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
}

.AboutProfessor th {
    background-color: #f5f5f5;
    text-align: left;
    padding: 2px;
    border-bottom: 2px solid #ccc;
}

.AboutProfessor td:nth-child(2) {
    width: 80%; /* 40%の幅を設定 */
    word-wrap: break-word; /* 長いテキストを折り返す */
}

.AboutProfessor td {
    padding: 2px;
    border-bottom: 1px solid #e0e0e0;
}

.AboutProfessor tr:nth-child(even) {
    background-color: #fafafa;
}

/* 教授の画像の中央揃え */
.AboutProfessor img {
    display: block;
    margin: 0 auto; /* 画像を中央に配置 */
}